# ==========================
# 1. Python & System Files
# ==========================
# 파이썬 컴파일 파일 (업로드 금지)
__pycache__/
*.py[cod]
*$py.class

# 맥(Mac) 시스템 파일 (업로드 금지)
.DS_Store
.AppleDouble
.LSOverride

# ==========================
# 2. Project Data & Output
# ==========================
# 이 프로젝트는 영상/이미지 처리를 하므로 결과물이 매우 큼..(업로드가 안될 수준)
# 소스 코드는 올리되, 테스트로 만들어진 거대 결과물은 제외하도록 함.

# 1) 비디오 처리 중 생기는 수천 장의 프레임 폴더
src/data/standardized_frames_16x9/

# 2) 최종 결과물들이 저장되는 폴더
src/data/output/
filtered_results/

# 3) 용량이 큰 데이터셋 파일
*.npy
*.npz

# 4) 테스트 과정에서 생긴 임시 미디어 파일들
# (단, sample 파일로 video.mp4는 제외하도록 함..)

# *.wav
# *.jpg
# *.png

# 로그 파일
*.log
